/* CALSES GENERALES */

/* ESTILOS DE TEXTO */
.label_formularios_texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #840032;
}

.label_formulario_botones {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: white;
}

.encabezado_texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 2rem;
    text-align: center;
    padding: 1.5rem;
}

/* divs contenedores */
section {
    display: flex;
    justify-content: center;
    background-color: #102336ff;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
}

.section_hija {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem;
}

.encabezado_formularios {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0rem 0rem 0rem;
}

.encabezado_formularios img {
    max-width: 100%;
    max-height: 100%;
}

/* formularios */
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0rem 1.25rem 0rem 1.25rem;
    width: 100%;
}

/* contenedor de inputs */
.label_formularios_flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}

/* caja de ingreso */
.input_style {
    height: 1.875rem;
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
}

/* botones */
.btn_formulario_flex {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 1.25rem;
}

.btn_formulario_style {
    background-color: #840032;
    color: white;
    border: #840032;
    margin-bottom: 0.625rem;
    height: 100%;
    padding: 0.313rem;
}

/* boton de tilde */
.acepta_style {
    margin: 0rem 0rem 0.625rem 0.125rem;
}



/* iNICIAR sESION */
.doble_linea {
    display: block;
    width: 9.375rem;
}

/* CONSULTAS y VENDEDORES MAYORISTAS */
.datos_flex_padre {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    justify-content: center;
}

.centro {
    align-items: center;
}

.textarea {
    height: 8rem;
}

textarea {
    width: 100%;
    height: 100%;
    text-align: center;
}


@media screen and (max-width: 425px) {

    .section_hija {
        width: 80%;
    }

    .datos_flex_padre {
        width: 100%;
    }

    .input_style {
        width: auto;
    }






}