/* CALSES GENERALES */
body {
    height: 100%;
}

/* ESTILOS DE TEXTO */
.label_formularios_texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #840032;
}

.label_formulario_botones {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: white;
}

.encabezado_texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 2rem;
    text-align: center
}

/* divs contenedores */
section {
    display: flex;
    justify-content: center;
    background-color: #102336ff;
    align-items: center;
    height: 100%;
}

.section_hija {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem;
}

.encabezado_formularios {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0rem 0rem 0rem;
}

.encabezado_formularios img {
    max-width: 100%;
    max-height: 100%;
}

/* formularios */
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0rem 1.25rem 0rem 1.25rem;
    width: 100%;
}

/* contenedor de inputs */
.label_formularios_flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /*    width: 100%; */
    margin-bottom: 0.625rem;
}

/* caja de ingreso */
.input_style {
    height: 1.875rem;
    text-align: center;
    font-size: 0.8rem;
}

/* boton de tilde */
.acepta_style {
    margin: 0rem 0rem 0.625rem 0.125rem;
}

/* botones */
.btn_formulario_flex {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 1.25rem;
}

.btn_formulario_style {
    background-color: #840032;
    color: white;
    border: #840032;
    margin-bottom: 0.625rem;
    height: 100%;
    padding: 0.313rem;
}






/* iNICIAR sESION */

.doble_linea {
    display: block;
    width: 9.375rem;
}

/* CONSULTAS */
.datos_flex_padre {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
}

.textArea_style textarea {
    text-align: center;
}

/* VENDEDORES MAYORISTAS */
.masEspacio {
    width: 110%;
}

@media screen and (max-width: 425px) {
    .section_hija {
        width: 80%;
    }


    .input_style {
        width: 60%;
    }
}