/* style carrito */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
    background-color: $colorPrincipal;
    .zapas_unidad {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      background-color: $colorSecundario;
      margin-top: 2rem;
      padding: 1rem;
      width: 30%;

      .foto_zapa {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .zapas_descripcion {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 1rem;
        .title_precio {
          display: block;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          .precio_producto {
            font: {
              family: "Inter";
              style: normal;
              weight: 600;
              size: 1.563rem;
            }
            text-transform: uppercase;
            background-color: $colorLlamativo;
            color: $FondoOscuro;
            padding: 0.5rem;
            margin-top: 0.375rem;
          }
        }
        select {
          width: min-content;
        }
        .btn_agregar {
          border: none;
          width: 3.125rem;
          height: 3.125rem;
          img {
            width: 100%;
          }
        }
      }
      @include responsive(minimo, mobile) {
        width: 80%;
      }
      @include responsive(mobile, tablet) {
        width: 40%;
      }
    }
  }
    .carrito_JS_container{
      height: 100vh;
      margin: 2rem;
  }

