//colores de la paleta
$colorPrincipal: #102336ff;
$colorSecundario: #840032ff;
$colorTerciario: #8C30F5;
$colorLlamativo: #e59500ff;
$colorClaro: #d68fd6ff;
$colorSuperClaro: #e5dadaff;
$FondoOscuro: #ffff;
$FondoClaro: black;

